.chat__right {
  width: 40%;
  border-left: 2px solid rgb(218, 214, 214);

  .chat__body {
    text-align: center;

    .avatar {
      padding: 20px 0;
      background-color: white;
      img{
        width: 8vw !important;
        border-radius: 50%;
      }
    }

    .card {
      padding: 20px;
      background-color: white;
      margin-top: 10px;
      text-align: left !important;
    }

    .starred {
      flex-direction: row;
      display: flex;
      p {
        margin-left: 10px;
      }
    }
  }
}