.chat__right {
  width: 40%;
  border-left: 2px solid rgb(218, 214, 214);

  .chat__body {
    text-align: center;

    .avatar {
      padding: 20px 0;
      background-color: white;
      img{
        width: 8vw !important;
        border-radius: 50%;
      }
    }

    .group__description {
      background-color: white;
      margin-top: 10px;
      padding: 10px 0;
    }
  }
}