.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
}

.app__body {
  display: flex;
  background-color: #ededed;
  height: 95vh;
  width: 91vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.text-xs {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-sm {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
}

.text-gray-1 {
  color: #667781;
}

.flex-row {
  flex-direction: row;
  display: flex;
}

.mt-4 {
  margin-top: 1rem; /* 16px */
}

.text-red {
  color: red;
}

.clicked:hover {
  cursor: pointer;
}

.bg-green {
  height: 127px;
  background-color: #00a884;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 1;
}